<!DOCTYPE html>
<html>
<head>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Dashboard</title>
</head>
<body>


<div class="container">
	<h1>Welcome {{username}}</h1>

	<hr style="width: 100%; color: black; height: 1px; background-color:black;" />

	<label>Function:</label>
	<label name="function">Function</label><br/>
	<button class="btn btn-md btn-info" type="submit">Generate Function</button><br/>

	<hr style="width: 100%; color: black; height: 1px; background-color:black;" />


</div>	


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>