<html lang = "en">
   
   <head>

      <title>Home</title>
      
      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <style type="text/css">
         .center {
            width: 100px;
            height: 100px;
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            }
      </style>

   </head>
   
   <body>
      <div class="center">
         
         <a class = "btn btn-primary btn-lg" href="http://127.0.0.1:8000/login">Login</a>

         <br/><br/>
         <a class = "btn btn-primary btn-lg" href="http://52.214.29.235/test/adaptivetest">Register</a>
         <br/><br/>

         <a class = "btn btn-default btn-lg" href="http://127.0.01:8000/dashboardprompt">Dashboard</a>

      </div>
    

   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   </body>
</html>
